.header-lanc{
    display: flex;
    justify-content: space-between;
    align-items: start;
    grid-column: 1/9;
    border-bottom: var(--border);
    padding-bottom: 1%;
}
.header-lanc h2{
    margin-bottom: 3%;
}
.sistema header.header-lanc .end-header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    white-space: nowrap;
}